/* body {
    background-color: black;
    background-attachment: fixed;
} */
html{
    min-height: 100%;
    min-width: 100%;
}

body {
    background-image: url("../images/main_background.jpg");
    /* background-size: 100%; */
    backdrop-filter: blur(4px);
    /* filter: blur(4px); */
    /* -webkit-filter: blur(4px); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* height: 100%; */
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

.separator {
    padding:2px;
}

.tw > * {
    color: white !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-bottom-right {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 2;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb0{
    margin-bottom: 0;
}

.p4-lr {
    padding: 0 4px 0 4px;
}

.modal {
    display: flex;
}

.dropdown-menu {
    z-index: 2000;
}

.product-desc {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bottom-price {
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 2;
    color: greenyellow;
    font-size: medium;  
    text-shadow:1px 1px 10px greenyellow, 1px 1px 10px greenyellow;
}

.card:not(.bludred) {
    background: transparent;
    color: white;
    z-index: 2;
}

.card-header:not(.bludred) {
    position: relative;
    z-index: 4;
}

.card-text {
    display: flex;
    align-items: center;
    position: relative;
    text-align: start;
    margin: 0;
}

.dropdown-text {
    display: flex;
    align-items: center;
    position: relative;
    text-align: start;
    margin: 0;
}

.dropdown-blur {
    background-color: rgba(85, 85, 85, 0.4);
    backdrop-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.dropdown-text:hover {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.1);
}

.transparent {
    background-color: transparent;
    border-color: transparent;
}

.container {
    z-index: 2;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 25px;
    z-index: 2;
}

.blured {
    background-color: rgba(125, 125, 125, 0.4);
    backdrop-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.blured:before {
    content: " ";
    background-color: rgba(125, 125, 125, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(125, 125, 125, 0.5);
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.hard-blur {
    background-color: rgba(125, 125, 125, 0.8);
    backdrop-filter: blur(16px);
}

.center-message {
    display: flex;
    color: lawngreen;
    justify-content: center;
}

.linkbar {
    position: absolute;
    top: 0;
    max-height: 50px;
    height: 100%;
    width: 100%;
}
